body{
    overflow: auto;
}

.TopNavBar {
height: 100px;
width: 100%;
background-image: repeating-linear-gradient(45deg,  #000000 0px, #2c2c2c 2px, #595959 15px, #1c1c1c 25px, #111111 28px, #131313 30px, #fceabb 30px, #fceabb 31px, #fce40a 36px,  #f8b500 47px, #fce40a 54px, #fbdf93 58px, #fbdf93 60px);
 border-style: solid;
    border-color: #3f3f3f;
    border-width: 3px;
     position: fixed;
    top: 0px;
    left: 0px;
     z-index: 5;
     overflow: hidden; 
     
    }


.TopNavBarLogo{
    height: 100px;
    width: 148px;
   background-image:linear-gradient(to top, #4c4c4c 0%, #595959 1%, #2c2c2c 13%, #666666 32%, #474747 36%, #000000 66%, #2b2b2b 79%, #111111 91%, #1c1c1c 97%, #131313 100%);
    top: 0px;
    left: 0px;
   display: inline-block;
   
    
}


.TopNavBarButtonGroup {
 position: fixed;
     top: 1px;
     left: 128px;
      
}


.TopNavBarButton {
    height:80px;
    max-height: 100px;
    min-width: 160px;
    margin: 2px;  
   border-style: solid;
    border-color: #3f3f3f;
    border-width: 3px;
    position: relative;
    top:-5px;

}



.SideNavBar {
    height:100%;
    min-height: 800px;
    width: 145px;
    border-style: solid;
    border-color: #3f3f3f;
    border-width: 0px 3px 3px 3px;
    background-image: repeating-linear-gradient(45deg,  #000000 0px, #2c2c2c 2px, #595959 15px, #1c1c1c 25px, #111111 28px, #131313 30px, #fceabb 30px, #fceabb 31px, #fce40a 36px,  #f8b500 47px, #fce40a 54px, #fbdf93 58px, #fbdf93 60px);
    position: fixed;
    top:106px;
    left: 0px;
}

.SideNavBarButton {
    
    margin: 4px auto 0px auto;
    height: 100px;
    width: 130px;
    position: relative;
    display:block;
     border-style: solid;
    border-color: #3f3f3f;
    border-width: 3px;
}


.workarea {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 151px;
    background-image: linear-gradient(to top, #ccb8db 0%, #c9c9c9 49%, #9498e6 98%, #9498e6 100%);
}